In [1]:
import pandas as pd

In [3]:
forestfire = pd.read_csv('forestfires.txt')

In [4]:
forestfire.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le = LabelEncoder()

In [7]:
forestfire['month'] = le.fit_transform(forestfire.month)

In [8]:
forestfire['day'] = le.fit_transform(forestfire.day)

In [9]:
forestfire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
X        517 non-null int64
Y        517 non-null int64
month    517 non-null int64
day      517 non-null int64
FFMC     517 non-null float64
DMC      517 non-null float64
DC       517 non-null float64
ISI      517 non-null float64
temp     517 non-null float64
RH       517 non-null int64
wind     517 non-null float64
rain     517 non-null float64
area     517 non-null float64
dtypes: float64(8), int64(5)
memory usage: 52.6 KB

In [10]:
forestfire.head()

   X  Y  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5      7    0  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4     10    5  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4     10    2  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6      7    0  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6      7    3  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [13]:
feature_cols = list(set(forestfire.columns.tolist()) - set(['area']))

In [14]:
X = forestfire[feature_cols]

In [15]:
Y = forestfire.area

In [18]:
X.as_matrix()

array([[  94.3,    0. ,    7. , ...,   26.2,    5. ,    8.2],
       [ 669.1,    5. ,    7. , ...,   35.4,    4. ,   18. ],
       [ 686.9,    2. ,    7. , ...,   43.7,    4. ,   14.6],
       ...,
       [ 665.6,    3. ,    7. , ...,   56.7,    4. ,   21.2],
       [ 614.7,    2. ,    1. , ...,  146. ,    4. ,   25.6],
       [ 106.7,    5. ,    6. , ...,    3. ,    3. ,   11.8]])

In [20]:
feature_cols

['DC',
 'day',
 'X',
 'RH',
 'ISI',
 'month',
 'wind',
 'rain',
 'FFMC',
 'DMC',
 'Y',
 'temp']